@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-accent: mat-palette($mat-indigo, A400);
$my-primary: mat-palette($mat-blue, 700);
$my-warn: mat-palette($mat-red);
$my-theme: mat-light-theme($my-primary, $my-accent, $my-warn);
@include angular-material-theme($my-theme);
